{% extends 'base.html' %}
{% load static %}





{% block title %}
{{post.title}}
{% endblock %}


{% block page %}
<div class="page-heading">
  <div class="container">
    <div class="navigation">
      <div class="navigation-item">
        <a href="{% url 'home' %}" title="Главная">
          <span>Главная</span>
        </a>
      </div>
      <div class="navigation-item">
        <div>></div>
        <a href="#" title="Главная">
          {% with post.category.category_name as name %}
          <span>{{name}}</span>
          {% endwith %}
        </a>
      </div>
      <div class="navigation-item">
        <div>></div>
        <a href="#" title="Главная">
          <span>{{ post.title}}</span>
        </a>
      </div>
    </div>
    <div class="page-heading__content">
      <h3>{{ post.title }}</h3>
      <p>Цена для подклюяени <span>{{post.price}}</span> </p>
    </div>
  </div>
</div>
{% endblock %}


{% block content %}
<section class="detailinfo">
  <div class="container">
    <div class="detailinfo__wrappers">
      <div class="detailinfo__wrappersID12">
        <div class="detailinfo__wrappers-text">
          {{ post.head_body|safe }}
        </div>
        <div class="widget">
          <button class="btn-widtget" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square"
              viewBox="0 0 16 16">
              <path
                d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg>
          </button>
          <p class="widget__content"></p>
        </div>
        {% if isActivPhone %}
        <div class="detailinfoIsActiv">
          <div class="detailinfoIsActiv__icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle"
              viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
              <path
                d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
            </svg>
          </div>
          <div class="detailinfoIsActiv__content">
            Мы свами свяжимс 10-15м
          </div>
        </div>
        {% else %}
        <form class="detailinfo__wrappers-form" method="post">
          <div class="pice-form">
            <p>Цена для подклюяени > <span>{{post.price}}</span> </p>
          </div>
          {{phone.as_p }}
          {% csrf_token %}
          <input class="btn detailinfo__wrappers-btn" type="submit" value="Получить бесплатную консультацию">
        </form>
        {% endif %}
      </div>
      <div class="detailinfo__wrappers-img">
        <img src="{{ post.head_img.url }}" alt="">
      </div>
    </div>
  </div>
</section>
<section class="post__detail">
  <div class="container">
    {{ post.body|safe }}
  </div>
</section>
<section class="formemail">
  <div class="container">
    <div class="screen">
      <div class="screen-header">
        <div class="screen-header-left">
          <div class="screen-header-button close"></div>
          <div class="screen-header-button maximize"></div>
          <div class="screen-header-button minimize"></div>
        </div>
        <div class="screen-header-right">
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
        </div>
      </div>
      <div class="screen-body">
        <div class="screen-body-item left">
          <div class="app-title">
            <div class="form-sirtel-1">Консультацию об услуги:</div>
            <span class="form-sirtel-2">{{post.title}}</span>
          </div>
          <div class="app-contact">Контакты :+7 928 640 70 00</div>
        </div>
        <div class="screen-body-item">
          {% if isActivEmail %}
          <h1>Спасибо, ваша заявка отправлена!</h1>
          {% else %}
          <form class="app-form" method="post">
            {% csrf_token %}
            {{ form }}
            <div class="app-form-group buttons">
              <button type="submit" class="app-form-button btn ">Заказать звонок</button>
            </div>
          </form>
          {% endif%}
        </div>

      </div>
    </div>
  </div>
</section>

<!--  ========= DETAIL ENDBLOCK =========== -->
{% endblock %}


{% block script %}
<script>
  let input_number = document.querySelector('.detailinfo__wrappers-input')
  let widget = document.querySelector('.widget')
  let widget__content = document.querySelector('.widget__content')
  let btn_widget = document.querySelector('.btn-widtget')
  input_number.addEventListener("input", updateValue);
  function updateValue() {
    if (

      !Number(input_number.value)
      && input_number.value.length > 0
      && input_number.value != '+'
    ) {
      widget.style.display = 'flex'
      widget.style.background = '#1A1A60'
      widget__content.innerHTML = 'Введите номер Тел.'
      btn_widget.addEventListener('click', () => {
        widget.style.display = 'none'
        anime({
          targets: input_number,
          translateX: 0
        })
      })
    }

    if (input_number.value.length <= 0) {
      widget.style.display = 'none'
    }



  }
</script>
{% endblock%}
