{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}


{% block title %}

{% endblock %}
{% block page %}
<div class="page-heading">
  <div class="container">
    <div class="navigation">
      <div class="navigation-item">
        <a href="#" title="Главная">
          <span>Главная</span>
        </a>
      </div>
      <div class="navigation-item">
        <div>></div>
        <a href="#" title="Главная">
          <span>Персональных данных</span>
        </a>
      </div>
    </div>
    <div class="page-heading__content">
      <h3>Согласие на обработку персональных данных</h3>
    </div>
  </div>
</div>
{% endblock %}


{% block content %}
<section class="miscard" style="padding: 50px 20px;">
  <div class="container">
    <h2>Согласие на обработку персональных данных</h2>
    <p>
      Настоящим в соответствии с Федеральным законом № 152-ФЗ «О персональных данных» от 27.07.2006 года свободно, своей
      волей и в своем интересе выражаю свое безусловное согласие на обработку моих персональных данных ООО
      "Предприниматель", зарегистрированным в соответствии с законодательством РФ по адресу:
      г. Москва, шоссе Энтузиастов 17, офис 426 (далее по тексту - Оператор).
      Персональные данные - любая информация, относящаяся к определенному или определяемому на основании такой
      информации
      физическому лицу.
      Настоящее Согласие выдано мною на обработку следующих персональных данных:
    </p>
    <ul>
      <li>
        - Имя;
      </li>
      <li>
        - Телефон;
      </li>
      <li>
        - E-mail;
      </li>
    </ul>
    <p>
      Согласие дано Оператору для совершения следующих действий с моими персональными данными с использованием средств
      автоматизации и/или без использования таких средств: сбор, систематизация, накопление, хранение, уточнение
      (обновление, изменение), использование, обезличивание, а также осуществление любых иных действий, предусмотренных
      действующим законодательством РФ как неавтоматизированными, так и автоматизированными способами.
      Данное согласие дается Оператору для обработки моих персональных данных в следующих целях:
      - предоставление мне услуг/работ;
      - направление в мой адрес уведомлений, касающихся предоставляемых услуг/работ;
      - подготовка и направление ответов на мои запросы;
      - направление в мой адрес информации, в том числе рекламной, о мероприятиях/товарах/услугах/работах Оператора.
    </p>
  </div>
</section>
{% endblock%}
