{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}


{% block title %}

{% endblock %}
{% block page %}
<div class="page-heading">
  <div class="container">
    <div class="navigation">
      <div class="navigation-item">
        <a href="#" title="Главная">
          <span>Главная</span>
        </a>
      </div>
      <div class="navigation-item">
        <div>></div>
        <a href="#" title="Главная">
          <span>Персональных данных</span>
        </a>
      </div>
    </div>
    <div class="page-heading__content">
      <h3>Согласие на обработку персональных данных</h3>
    </div>
  </div>
</div>
{% endblock %}


{% block content %}
<section class="miscard__posr" style="padding: 50px 20px;">
  <div class="container">
    <h2>Согласие на обработку персональных данных</h2>
    <p>Предоставляя свои персональные данные Покупатель даёт согласие на обработку, хранение и использование своих
      персональных данных на основании ФЗ № 152-ФЗ «О персональных данных» от 27.07.2006 г. в следующих целях:</p>

    <p>Регистрации Пользователя на сайте
      Осуществление клиентской поддержки
      Получения Пользователем информации о маркетинговых событиях
      Выполнение Продавцом обязательств перед Покупателем
      Проведения аудита и прочих внутренних исследований с целью повышения качества предоставляемых услуг.
      Под персональными данными подразумевается любая информация личного характера, позволяющая установить личность
      Покупателя такая как:
    </p>
    <ul>
      <li>Имя</li>
      <li>Контактный телефон</li>
      <li>Адрес электронной почты</li>
      <li> Почтовый адрес</li>
      <li>Персональные данные Покупателей хранятся исключительно на электронных носителях и обрабатываются с
        использованием</li>
      <li>автоматизированных систем, за исключением случаев, когда неавтоматизированная обработка персональных данных
        необходима в связи с исполнением требований законодательства.</li>
    </ul>


    <p>
      Продавец обязуется не передавать полученные персональные данные третьим лицам, за исключением следующих случаев:
    </p>
    <p>
      По запросам уполномоченных органов государственной власти РФ только по основаниям и в порядке, установленным
      законодательством РФ
    </p>
    <p>
      Стратегическим партнерам, которые работают с Продавцом для предоставления продуктов и услуг, или тем из них,
      которые
      помогают Продавцу реализовывать продукты и услуги потребителям. Мы предоставляем третьим лицам минимальный объем
      персональных данных, необходимый только для оказания требуемой услуги или проведения необходимой транзакции.
      Продавец оставляет за собой право вносить изменения в одностороннем порядке в настоящие правила, при условии, что
      изменения не противоречат действующему законодательству РФ. Изменения условий настоящих правил вступают в силу
      после
      их публикации на Сайте.
    </p>
  </div>
</section>
{% endblock%}
