{% load static %}

{% block stylesheets %}
{% endblock %}

<section class="answers">
  <div class="container">
    <div class="answers__items">
      <div class="answers__item">
        <div class="answers__item-top">
          <h3>Кто обязан зарегистрироваться в Егисз?</h3>
          <div class="btn-answers__item">
            <div class="down-answers__item">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-plus-lg"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
              </svg>
            </div>
            <div class="know-answers__item">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-x-lg"
                viewBox="0 0 16 16">
                <path
                  d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
              </svg>
            </div>
          </div>
        </div>
        <div class="answers__item-bottom">
          <p>
            С 1 января 2019 года медицинские организации частной системы здравоохранения обязаны зарегистрироваться в
            ЕГИСЗ в обязательном порядке.
          </p>
        </div>
      </div>
      <div class="answers__item">
        <div class="answers__item-top">
          <h3>Что будет если не зарегистрироваться в Егисз?</h3>
          <div class="btn-answers__item">
            <div class="down-answers__item">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-plus-lg"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
              </svg>
            </div>
            <div class="know-answers__item">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-x-lg"
                viewBox="0 0 16 16">
                <path
                  d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
              </svg>
            </div>
          </div>
        </div>
        <div class="answers__item-bottom">
          <p>
            Без регистрации в ЕГИСЗ медучреждение или ИП не сможет получить лицензию на предоставление медицинских
            услуг. Кроме проверок надзорных комиссий, отсутствие лечебно-профилактического учреждения в Федеральном
            регистре МО (подсистема ЕГИСЗ) обнаруживается при необходимости медработникам пройти периодическую
            аккредитацию
          </p>
        </div>
      </div>
      <div class="answers__item">
        <div class="answers__item-top">
          <h3>Сколько стоит регистрация в Егисз?</h3>
          <div class="btn-answers__item">
            <div class="down-answers__item">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-plus-lg"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
              </svg>
            </div>
            <div class="know-answers__item">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-x-lg"
                viewBox="0 0 16 16">
                <path
                  d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
              </svg>
            </div>
          </div>
        </div>
        <div class="answers__item-bottom">
          <p>
            Подключение к ЕГИСЗ 10 700
            Внесение специалистов в ФРМР Включено в стоимость, свыше 5-ти специалистов, 500 (за каждого последующего
            специалиста)
            Внесение оборудования Включено в стоимость, свыше 5-ти единиц, 500 (за каждое последующее оборудование)
          </p>
        </div>
      </div>
      <div class="answers__item">
        <div class="answers__item-top">
          <h3>Зачем нужна Егисз?</h3>
          <div class="btn-answers__item">
            <div class="down-answers__item">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-plus-lg"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
              </svg>
            </div>
            <div class="know-answers__item">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-x-lg"
                viewBox="0 0 16 16">
                <path
                  d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
              </svg>
            </div>
          </div>
        </div>
        <div class="answers__item-bottom">
          <p>
            Зачем создана ЕГИСЗ? Внедрение ЕГИСЗ входит в общий план цифровизации государственных услуг и сервисов. В
            сфере здравоохранения цифровизация помогает систематизировать данные, стандартизировать процессы, упростить
            доступ к медицинским услугам для граждан и медицинским данным для работников разных медучреждений.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


{% block javascript %}
{% endblock %}
