{% load static %}

{% block stylesheets %}
{% endblock %}

<section class="formemail">
  <div class="container">
    <div class="screen">
      <div class="screen-header">
        <div class="screen-header-left">
          <div class="screen-header-button"></div>
          <div class="screen-header-button maximize"></div>
          <div class="screen-header-button minimize"></div>
        </div>
        <div class="screen-header-right">
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
        </div>
      </div>
      <div class="screen-body">
        <div class="screen-body-item left">
          <div class="app-title">
            <span>Консультация</span>
            <span>Бесплатная консультация, оставьте заявку мы Вам перезвоним.</span>
          </div>
          <div class="app-contact">Контакты : +7 928 640 70 00</div>
        </div>
        <div class="screen-body-item">
          <form class="app-form" method="post" action="email">
            {% csrf_token %}
            {{ form }}
            <div class="app-form-group buttons">
              <button type="submit" class="app-form-button btn ">Заказать звонок</button>
            </div>
          </form>
          <div style="
          margin: 20px;
          font-size: 14px;
          display: flex;
          align-items: center;
          border-top: 1px solid;">
            Я даю согласие на
            <a href="/persion" style="color: #e85cff; margin-left: 5px;">обработку
              персональных данных
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

{% block javascript %}
{% endblock %}
