{% load static %}

{% block stylesheets %}
{% endblock %}

<section class="miscard">
  <div class="container">
    <div class="miscard__wrappers">
      <a href="#" class="miscard__item miscard_item-1">
        <h3 class="misscard__item-title">Услуги по ЕГИСЗ</h3>
        <div class="misscard__img">
          <img src="{% static '/img/10.svg' %}" alt="">
        </div>
      </a>
      <a href="#" class="miscard__item miscard_item-2">
        <h3 class="misscard__item-title">Услуги БАРС</h3>
        <div class="misscard__img">
          <img src="{% static '/img/1_4x (1).svg' %}" alt="">
        </div>
      </a>
      <a href="#" class="miscard__item miscard_item-3">
        <h3 class="misscard__item-title">Разработка сайта</h3>
        <div class="misscard__img">
          <img src="{% static '/img/vikatan_2021-10_bb8f70fd-5cb6-46b1-924d-71803e32fe48_61602380b6050.svg' %}" alt="">
        </div>
      </a>
    </div>
  </div>
</section>


{% block javascript %}
{% endblock %}
