
{% load static %}

{% block stylesheets %}
{% endblock %}

<section class="stats">
    <div class="container">
        <div class="stats__lists">
           <div class="stati__wrappers">
               <div class="stati__wrappers-item">
                   <span>4 года</span>
                   <span>Опыт МИС БАРС</span>
               </div>
               <div class="stati__wrappers-item">
                    <span>10 года</span>
                    <span>Сфере медицины</span>
                </div>
                <div class="stati__wrappers-item">
                    <span>1000+</span>
                    <span>Пользователям помог</span>
                </div>
                <div class="--circle circle_1"></div>
                <div class="--circle circle_2"></div>
                <div class="--circle circle_3"></div>
           </div>
           <div class="stats__content">
               <div class="stats__item-content">
                   <h4> Поговорите с <span>экспертами</span></h4>
                   <p>Я могу помочь в записи на прием и ответить на ваши вопросы о здоровье и профилактике различных заболеваний. Обращайтесь ко мне, если вам нужна помощь в сфере медицины или хотите быть в курсе последних новостей в этой области.</p>
               </div>
               <div class="stats__item-img">
                   <img src="{% static 'img/Group 15.png'%}" alt="">
               </div>
           </div>
        </div>
    </div>
</section>


{% block javascript %}
{% endblock %}