:root {
  --w_container: 1333px;

}


/* ===== STYLR OPS ========== */

img {
  max-width: 100%;
}

.btn {
  text-decoration: none;
  border: #0D6EFD;
  cursor: pointer;
  border-radius: 14px;
  background-color: #0D6EFD;
  font-weight: 400;
  line-height: 38px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  transition: .3s;
  padding: 5px 33px 5px 10px;
}

.btn:hover {
  background-color: #3063b0;
  color: #FFF
}

.btn:active {
  transform: scale(0.7);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-1);
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  max-width: var(--w_container);
  margin: 0 auto;
}





body {
  position: relative;
  font-family: 'Inter', sans-serif;
  line-height: 30px;
  font-weight: 500;
  font-style: normal;
  background: linear-gradient(276deg, #f5f7fa, #c3cfe2);
  font-size: 18px;
  color: #1A1A60;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background 0.2s linear;
  position: relative;
}



.btn-right {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-right::after {
  content: "";
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 20px 30px 10px;
  background-color: #00BFFF;
  position: absolute;
  right: -10px;
  top: 0;
  z-index: -1;

}



/*===============  HEADER ============= */
header {
  width: 100%;
  padding: 10px 0;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 0 0 10px 10px;
}

.header_row {
  display: flex;
  align-items: center;
  position: relative;
}

.header__wrappers {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  margin-left: 116px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header__list-item {
  margin-right: 40px;
}

.header__social {
  display: flex;
  margin-right: 15px;
}

.header__colact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header__social-phone {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

.header__logo {
  width: 149px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.header__logo span:first-child {
  font-weight: bold;
  font-size: 21px;
  color: #00BFFF;
}

.header__social-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 0 10px;
  background-color: #00BFFF !important;
  color: #FFF;
  margin-left: 10px;
}

.header__social-btn:hover {
  color: #e2e8f2;
}


/*  ============= POPAP ===================*/
.dark .modal {
  color: #000;
}

.modal {
  backdrop-filter: blur(7px);
  background-color: rgba(26, 26, 96, .6);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1040;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
  pointer-events: none;
}

.modal-dialog {
  position: relative;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  border-radius: 0 0 10px 10px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  outline: 0;
  max-width: calc(100% - 100px);
  margin-top: 20px;
}

@media (min-width: 768px) {
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
}

.modal-header {
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../img/health-care.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-title {
  backdrop-filter: blur(7px);
  background-color: rgba(26, 26, 96, .6);
  padding: 5px;
  border-radius: 10px;
  display: block;
  max-width: 450px;
  line-height: 40px;
  text-align: center;
  color: #FFF;
}

.modal .close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

.modal .close:hover {
  transform: scale(1.1);
}

.modal .close:active {
  transform: scale(0.9);
}

.modal .btn-popap {
  border-radius: 4px;
  padding: 10px 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-body {
  overflow: hidden;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: auto;
}

.modal-links {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.modal-link {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}

.activaModal .modal {
  opacity: 1;
  pointer-events: all;
}

.modal-form {
  max-width: 90%;
  padding: 10px;
}



/*  MOBILE */
.header__row-mobile {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 105;
  width: 50px;
  height: 50px;
  background-color: #0D6EFD;
  border-radius: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: all .3s;
}

.mobil_app .header__row-mobile {
  right: 20px;
}

.mobil_app a,
.mobil_app .header__social-time {
  color: #FFF;
  margin-top: 10px;
}

.header__row-mobile span {
  width: 15px;
  height: 2.5px;
  border-radius: 10px;
  background-color: #FFF;
}

.header__row-mobile:hover {
  background-color: #4276c6;
  transform: scale(1.05);
}

.header__row-mobile:active {
  transform: scale(0.6);
}

.click_look {
  display: none;
}


/*  ================ THEME ================= */
.theme {
  margin-top: -32px;
}

.checkbox {
  opacity: 0;
}

.label {
  background-color: #232d36;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  position: relative;
  height: 43px;
  width: 20px;
  transform: scale(1.5);
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
  transform: translateY(24px);
}

.theme .moon {
  margin-top: -11px;
}




/* ============ hero ====================== */
.hero {
  position: relative;
  z-index: 101;
  width: 100%;
  margin: 68px 0 60px 0;

}

.hero__wrappers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

}

.hero__content {
  position: relative;
  z-index: 103;
}

.hero__content-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;

}

.hero__content-description {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-top: 20px;
}

.hero__conetnt-list {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}

.hero__content-item {
  display: flex;
  align-items: center;
}

.hero__content-img {
  margin-top: 10px;
}

.hero__content-textaer {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 10px;

}

.hero__content-btn {
  margin-top: 48px;
  width: 202.86px;
  height: 52px;
}

.hero__content-btn svg {
  margin-left: 10px;
}

.hero_images {
  width: 40%;
  height: 300px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 3;
}


.hero__img {
  width: 450px;

}




/*  ================= miscard ================= */
.miscard {
  width: 100%;
}

.miscard__wrappers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.miscard__item {
  width: 48%;
  height: 136px;
  display: flex;
  align-items: center;
  padding: 0 0 0 10px;
  justify-content: space-between;
  transition: .3s;
  border-radius: 27px;
}

.miscard__item:hover {
  transform: scale(1.02);
}

.misscard__item-title {
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  text-align: left;
}

.misscard__img {
  max-width: 210px;
}

.miscard_item-1 {
  background: linear-gradient(180deg, #15C7FF 22.49%, #5BC4FF 100%);
}

.miscard_item-2 {
  background: #68f1a3;
}

.miscard_item-3 {
  background: linear-gradient(180deg, #FF5CDB 33.31%, #FF9DE9 100%);
}







/* ===================== post ============== */
.post {
  width: 100%;
  padding: 90px 0;

}

.post__list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

}

.post__list-item {
  color: #FFF;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: relative;
  width: 49%;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.post__list-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post__list-img::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, #60688b 39.7%, rgba(3, 35, 16, 0) 100%);
  width: 100%;
  height: 100%;
}

.post__list-c {
  padding: 56px 49px;
  position: relative;
  margin-left: 40px;
}

.post__list-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 49px;

}

.post__list-description {
  margin-top: 21px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}

.post__list-c p {
  max-width: 600px;
}

.post__list-btn {
  margin-top: 89px;
  width: 202.72px;
  height: 52px;
}

.post__list-btn svg {
  margin-left: 10px;
}





/* ======================== stats =================== */

.stats {
  width: 100%;
  padding: 90px 0;
  background-color: var(--sec_bg);
}

.stats__lists {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stati__wrappers {
  position: relative;
  display: flex;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  border-radius: 16px;
  padding: 28px 79px 28px 81px;
  z-index: 0;
}

.stati__wrappers-item {
  margin-right: 50px;
}

.stati__wrappers-item span:first-child {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.14em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #0D6EFD;
}

.stati__wrappers-item span:last-child {
  display: block;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.37em;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #000000;
}

.circle_1 {
  position: absolute;
  width: 65.75px;
  height: 65.75px;
  left: -30px;
  bottom: -30px;
  background: #0D6EFD;
  border-radius: 16px;
  transform: rotate(-30deg);
}

.circle_2 {
  position: absolute;
  width: 96.96px;
  height: 96.96px;
  left: 50%;
  bottom: 100%;
  background: #0D6EFD;
  border-radius: 16px;
  transform: rotate(-30deg);
}

.circle_3 {
  position: absolute;
  width: 127.47px;
  height: 127.47px;
  right: -30px;
  bottom: -30px;
  background: #0D6EFD;
  border-radius: 16px;
  transform: rotate(-30deg);
}

.stats__content {
  width: 100%;
  margin-top: 81px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.stats__item-content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.stats__item-content h4 {
  font-weight: 700;
  font-size: 44px;
  line-height: 126%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #000000;
}

.stats__item-content h4 span {
  color: #0D6EFD;
}

.stats__item-content p {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 138.5%;
  letter-spacing: 0.08em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #616161;
}

.stats__item-content a {
  margin-top: 24px;
}

.stats__item-img {
  width: 500px;
}



/*  Услуги  */

/* ====================== servicarse================= */
.header--dark {
  background: rgb(255, 255, 255);
  background: linear-gradient(93deg, rgba(255, 255, 255, 0.2638305322128851) 0%, rgba(246, 250, 255, 0.28904061624649857) 15%, rgba(226, 223, 254, 0.2666316526610645) 51%, rgba(246, 250, 255, 0.2862394957983193) 83%, rgba(255, 255, 255, 0.3170518207282913) 100%);
}

.servicarse {
  padding-top: 250px;
  padding-bottom: 50px;
  background-image: url("../img/777-1-1-1024x683.png");
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1;
}

.dark .servicarse::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
}

.servicarse__wrappers {
  text-align: center;
}

.servicase__content {
  position: relative;
  z-index: 1;
  display: inline-block;
  backdrop-filter: blur(50px);
  padding: 10px;
  border-radius: 10px;
}

.servicarse__wrappers-title {
  padding: 5px 30px;
  border-radius: 10px 10px 0 0;
  position: relative;
  display: inline-block;
  font-size: 55px;
  font-weight: 700;
  line-height: 136%;
}

.servicarse__wrappers-des {
  border-radius: 10px;
  padding: 5px 30px;
  font-size: 18px;
  font-weight: 500;
  line-height: 169%;
}



/* ========= SERCARD ================= */
.sercard {
  width: 100%;
}

.sercards__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px 0;
}

.sercards__item {
  max-width: 48%;
  display: flex;
  flex-direction: column;


}

.sercards__item-header {
  background-color: #FFF;
  padding: 59px 50px 40px 50px;
  border-radius: 20px;
  position: relative;
}

.sercards__item-lister {
  width: 100%;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.sercards__item-item {
  padding: 20px 15px;
  border-radius: 10px;
  border: 1px solid #232D36;
}

.sercards__item-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #232D36;
}



.sercards__item-icon {
  position: absolute;
  left: -80;
  top: -30px;
  width: 50px;
  height: 50px;
  background-color: #0D6EFD;
  border-radius: 50%;
}

.sercards__item-btn {
  width: 162.86px;
  height: 52px;
  margin-left: 40px;
}


/* =================== formemail ================== */

.formemail {
  padding: 66px 0;
  width: 100%;
  position: relative;
}

.screen {
  position: relative;
  background: #FFF;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #1A1A60;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button:first-child {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 26px;
  color: #1A1A60;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form input {
  color: #1A1A60;
  font-weight: bold;

}

.app-form-control {
  margin-bottom: 15px;
}

.app-form label {
  display: none;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  background: none;
  border: 1px solid #1A1A60;
  color: #ddd;
  padding: 20px;
  border-radius: 10px;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border: 2px solid #1A1A60;
}




@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}




.formemail__content {
  max-width: 85%;
  background-color: #FFF;
  border-radius: 28px;
  padding: 59px 66px 77px 77px;
}

.formemail__content-title {
  font-weight: 700;
  font-size: 51px;
  line-height: 75px;
  display: flex;
  align-items: center;
}

.formemail__content-title::after {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  margin-left: 21px;
  background-image: url("/assets/icons/pseudo (4).png");
}

.formemail__content-des {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  margin-top: 32px;
}

.formsblock {
  margin-top: 100px;
}

.formblock__title {
  font-weight: 600;
  font-size: 26px;
  line-height: 38px;
}

.formemail-form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 15px;
  margin-top: 39px;
}

.input-form {
  width: 258.38px;
  height: 48px;
  background: rgba(193, 211, 255, 0.19);
  border: 1px solid #000000;
  border-radius: 14px;
  padding-left: 20px;
}

/* .input-form:not(:first-child),
.formblock__btn{
  margin-left: 14px;
} */
.formblock__btn {
  background: #575A64;
  border-radius: 14px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 15px;
}



/* =============== answers================= */
.answers {
  width: 100%;
  padding: 0 0 50px 0;
}

.answers__item {
  user-select: none;
  margin-top: 30px;
  max-width: 100%;
  height: auto;
  border-radius: 40px;
  background-color: #FFF;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  padding: 40px 20px;

}

.answers__item-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.btn-answers__item {
  width: 50px;
  height: 50px;
  background-color: #0D6EFD;
  color: #FFF;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-answers__item:hover {
  transform: scale(1.05);
}

.btn-answers__item:active {
  transform: scale(0.9);
}

.btn-answers__item svg {
  margin-top: 10px;
}

.down-answers__item {
  display: block;
}

.know-answers__item {
  display: none;
}

.answers__item-bottom {
  width: 100%;
  opacity: 0;
  height: 0;
}

.answers__item-bottom p {
  max-width: 80%;
}



/*  ========================= FOOTER ====================== */
footer {
  width: 100%;
  border-radius: 10px 10px 0 0;
  background-color: #1A1A60;
  color: #FFF;
  margin-top: 100px;
}

.footer__wrappers {
  position: relative;
}

.footer__top {
  position: relative;
  width: 90%;
  border-radius: 30px;
  padding: 40px 0;
  left: 30px;
  top: -50px;
  background-color: #705cf3;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: space-around;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.footer__top-img {
  position: absolute;
  left: 6%;
  top: -50px;
  width: 80px;
  transform: rotate(348deg);
}

.footer__link-servec {
  padding: 10px 30px;
  background-color: #FFF;
  border-radius: 10px;
  font-weight: bold;
  color: #705cf3;

}

.footer__bottom {
  width: 100%;
  display: flex;
  align-items: center;
}

.footer__about {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 20px 50px 40px 0;
}

.footer__about p {
  margin-top: 40px;
}

.footer__items {
  width: 38%;
  display: flex;
  justify-content: space-between;
}

.footer__item {
  margin-right: 20px;
}

.footer__item ul {
  margin-top: 40px;
}



/*  ========================= DARK  =============*/
.dark--header {
  background: #1A1A60;
  color: #FFF;
  background: #1A1A60;
  color: #FFF;
  box-shadow: none;
  border-radius: 0;
}

.dark--header a {
  color: #FFF;
}

.dark--header .header__social-btn {
  background-color: #0D6EFD;
  color: #FFF;
}

.dark--header .header__social-btn:hover {
  background-color: #3063b0;
}



/*  ================ navigation-item ============== */
.page-heading {
  padding: 49px 0;
  background: #1A1A60;
  border-radius: 0 0 30px 30px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.navigation-item {
  display: flex;
  align-items: center;
  color: #FFF;
}

.navigation-item:not(:first-child) div {
  margin: 0px 10px;
}

.navigation-item span {
  color: #525286;
}

.navigation-item:last-child span {
  color: #FFF;
}

.page-heading__content {
  margin-top: 49px;
}

.page-heading__content h3 {
  max-width: 550px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #FFF;
  border-bottom: 1px solid #FFF;
  margin-bottom: 10px;

}

.page-heading__content p {
  color: #FFF;
}


.page-heading__lister {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.page-heading__item {
  background: #FFFFFF;
  border: 1px solid #1A1A60;
  border-radius: 14px;
  padding: 17px 21px;
}


.page-heading__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1A1A60;
}

.miscard___dark {
  padding: 100px 0;
}

.miscard__posr h2 {
  margin-bottom: 20px;
}

.miscard__posr p {
  margin-top: 20px;
}

.miscard__posr ul {
  margin: 20px 0;
}

/*  =========================== detailinfo ===================== */
.detailinfo {
  padding: 100px 0;
}

.detailinfo__wrappers {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}


.detailinfo__wrappers-text {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 37px;
  color: #1A1A60;
}

.detailinfo__wrappers-form {
  margin-top: 40px;
}

.pice-form p {
  display: flex;
  align-items: center;
}

.pice-form span {
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  position: relative;
}

.detailinfo__wrappers-form span::after {
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  background-image: url("../icons/smile_warnings.png.png");
  position: absolute;
  right: -60px;
  top: -10px;

}

.form-sirtel-1 {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.form-sirtel-1::after {
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  background: url("../icons/handshake.png.png");


}

.form-sirtel-2 {
  padding: 10px 0;
  border-bottom: 1px solid #232D36;
  border-top: 1px solid #232D36;
}

.detailinfo__wrappers-input {
  width: 80%;
  padding: 25px 10px;
  background: rgba(193, 211, 255, 0.14);
  border: 1px solid #000000;
  border-radius: 14px;
  margin: 35px 0 20px 0;

}

.detailinfoIsActiv {
  margin-top: 40px;
  width: 350px;
  height: 100px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
}

.detailinfoIsActiv__icon {
  width: 40px;
  height: 40px;
  background: #1A1A60;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.detailinfoIsActiv__icon svg {
  width: 30px;
  height: 30px;
  fill: #FFF;
}

.detailinfoIsActiv__content {
  font-size: 20px;
  font-weight: bold;
}

.detailinfo__wrappers-form label {
  display: none;
}

.detailinfo__wrappers-input {
  font-size: 20px;
}

.detailinfo__wrappers-input::placeholder {
  font-size: 20px;
  margin-left: 10px;

}

.detailinfo__wrappers-btn {
  background: #575A64;
  width: 450px;
  padding: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
}




/*  =============================== post__detail ======== */
.post__detail {
  padding: 50px 0;
}


/*  ========================== contact ======================= */
.contact {
  padding: 90px 0 130px 0;
  position: relative;

}

.contact__lister {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.contact__lister-item:first-child {
  margin-left: 30px;
}

.contact__wrappers {
  margin-top: 40px;
}

.contact__item {
  display: flex;
  align-items: center;
  max-width: 400px;
  padding: 15px;
  background: linear-gradient(180deg, #FF5C66 26.98%, #FFA7AC 100%);
  border-radius: 27px;
}

.contact__item-left {}

.contact__item-left h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 44px;
  color: #FFFFFF;
  margin-bottom: 19px;
}

.contact__item-left p {
  margin-bottom: 19px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.contact__item-left a {
  display: inline-block;
  color: #FFF;
  margin-bottom: 19px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
}




/* ======================= MEDIA ================ */

@media screen and (max-width:1290px) {
  :root {
    --w_container: 1133px;
  }

  .dark .servicarse::after {
    background-color: rgba(0, 0, 0, .4);
  }

}

@media screen and (max-width:1110px) {
  :root {
    --w_container: 923px;
  }

  .mobil_app {
    width: 100%;
    border-radius: 50px;
  }

  header {
    padding: 40px 0;
  }

  .theme {
    position: absolute !important;
    right: -10px;
    top: -20px;
  }

  .header__row-mobile {
    display: flex;
    top: -20px;
    right: 40px;
  }

  .mobil_app .header__list-item,
  .header__social,
  .header__social-phone,
  .header__social-time {
    margin-top: 40px;
  }

  .header_row {
    justify-content: space-between;
    align-items: center;
  }

  .header__list,
  .header__social {
    display: none;
  }

  .header__logo {
    position: absolute;
    top: -20;
    left: 0;
    right: 0;
    z-index: 106;

  }

  .dark .servicarse::after {
    background-color: rgba(0, 0, 0, .6);
  }


}

@media screen and (max-width:923px) {
  :root {
    --w_container: 723px;

  }


  .hero_images {
    position: absolute;
    z-index: 101;
    right: 0px;
    top: 20%;
    max-width: 65%;

  }

  .miscard__wrappers {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .miscard__item {
    width: 80%;
  }

  .misscard__img {
    max-width: 180px;
  }

  .post__list {
    flex-direction: column;
    align-items: center;
  }

  .post__list-item {
    width: 80%;
  }

  .stats__lists {
    flex-direction: column;
  }

  .stats__item {
    max-width: 100%;
    width: 100%;
  }

  .footer__wrappers {
    flex-wrap: wrap;
    gap: 40px;
  }

  .stats__item {
    margin-left: 0;
  }

  .sercards__item {
    max-width: 100%;
  }

  .servicarse {
    padding-top: 45%;
    background-size: 150%;
  }


}

@media screen and (max-width:723px) {
  :root {
    --w_container: 100%;
  }

  .container {
    max-height: var(--w_container);
    padding: 0 20px;
  }

  .hero_images {
    display: none;
  }

  .stati__wrappers {
    width: 300px;
  }

  .stati__wrappers-item {
    margin-right: 10px;
  }

  .stati__wrappers .circle_3 {
    display: none;
  }

  .detailinfo__wrappers-img {
    display: none;
  }

  .detailinfo__wrappersID12 {
    max-width: 100%;
  }

  .screen-body {
    flex-direction: column;
    align-items: flex-start;
  }

  .app-title {
    display: flex;
    flex-direction: column;
  }

  .footer__top {
    display: flex;
    flex-direction: column;
  }

  .footer__top-con {
    text-align: center;
  }

  .footer__link-servec {
    margin-top: 40px;
  }

  .footer__bottom {
    flex-direction: column;
  }

  .footer__about,
  .footer__items {
    width: 100%;
  }

  .footer__about {
    padding: 0 0 40px 0;
  }


  .answers__item-top h3 {
    width: 400px;
  }

}

@media screen and (max-width:523px) {

  .hero_images,
  .hero__conetnt-list {
    display: none;
  }

  .detailinfo__wrappers-form p {
    margin: 0;
    width: 100%;
  }

  .form1-tel {
    width: 100%;
  }

  .detailinfo__wrappers-btn {
    width: 100%;
  }

  .post__list-c {
    margin-left: 0px;
  }

  .answers__item-top h3 {
    width: 250px;
  }


}


.mobil_app {
  width: 100%;
  display: block;
  z-index: 104;
  height: 85vh;
  position: absolute;
  left: 0;
  top: 50px;
  right: 0;
  bottom: 0;
  background-color: #0D6EFD;


}

.mobil_app .header__list {
  margin: 0;
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobil_app .header__list-item {
  margin-right: 0;
}

.mobil_app .header__list .header__list-link {
  color: #FFF;
  font-size: 30px;
  font-weight: bold;
}

.mobil_app .header__social {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 0;
}

.mobil_app .header__colact {
  align-items: center;
}

.mobil_app .header__social-btn {
  margin-top: 40px;
  padding: 20px;
  color: #06110e;
  font-size: 24px;
  margin: 10px 5px 0 5px;
}

.particle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
}


/* ================ DARK  ============ */
body.dark {
  background: -webkit-linear-gradient(135deg, rgb(6, 17, 14) 19%, rgb(43, 48, 84));
  background: -moz-linear-gradient(135deg, rgb(6, 17, 14) 19%, rgb(43, 48, 84));
  background: linear-gradient(135deg, rgb(6, 17, 14) 19%, rgb(43, 48, 84));
  color: #F7F9FC;
}


.dark .answers__item {
  color: #06110e;
}

.dark .sercards__item-header {
  color: #06110e;
}

.dark .sercards__item-link {
  color: #FFF;
}

.dark .sercards__item-item {
  border: 1px solid #FFF;
}